.move-slider{
    @include component_size;
    //기본 화살표에 가상 요소 삭제
    .slick_prev:before,
    .slick_next:before{
        content: '';
    }
    .slick_prev,
    .slick_next{
        background-color: rgba(0,0,0,0.7);
        position: absolute;
        top: 50%;
        z-index: 10;
        transform: translateY(-50%);
        border-radius: 10px;
        width: 40px;
        height: 70px;
        text-align: center;
        line-height: 70px;
        cursor: pointer;
        color: #fff;
        &:hover{
            background-color: rgba(255,255,255,0.5);
            color: black;
        }
    }
    .slick_prev{
        left: -50px;
    }
    .slick_next{
        right: -50px;
    }
    .movie-card{
        padding-top: 40px;
        position: relative;
        transition: 0.5s;
        cursor: pointer;
        &:hover{
            transform: scale(1.05);
        }
    }
    span{
        position: absolute;
        left: -10px;
        bottom: 0;
        font-size: 100px;
        font-weight: bolder;
        color: #000;
        text-shadow: -2px -2px 0 #fff, //왼쪽위
                      2px -2px 0 #fff, //오른쪽위
                    -2px 2px 0 #fff, //왼쪽 아래
                      2px 2px 0 #fff, //오른쪽 아래           
        ;
    }
    img{
        width: 250px;
        height: 370px;
        margin: 0 auto;
        object-fit: cover;
        border-radius: 10px;
        @include responsive($breakpoint-medium){
            width: 100px;
        }
    }
}
